

<p>商品一覧ページ</p>

<%= link_to "トップページへ", root_path %>

<%= link_to "ジャンル一覧へ", user_genres_path %>




<table class="table table-bordered">
	<td>商品一覧</td>
	<td><%= link_to "アーティスト一覧", user_artists_path %></td>
</table>

	  <table class="table table-bordered table-sm table-hover">

	    <tbody>
	      <% @items.each do |item| %>
	        <tr>
	          <td><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:"100x100" %></td>
	          <td><%= item.title %></td>
	          <td>¥<%= item.price %></td>
	          <td><%= item.artist.name %></td>
	          <td><%= item.genre_id %></td>
	          <td><%= item.label.name %></td>
	           <td><%= link_to "詳細", user_item_path(item.id)%></td>
	           <td><%= link_to "お気に入りに追加", add_item_path(item), method: :post %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>


</div>


