
<p>商品詳細</p>

<%= link_to "item一覧へ", user_items_path %>
<%= link_to user_carts_path(item_id: @item.id), method: :post do %>カートに追加する<% end %>




  
    <p>商品名<%= @item.title %></p>
    <p>値段¥<%= @item.price %></p>
    <p>アーティスト名<%= @item.artist.name %></p>
    <p><%= @item.genre_id %></p>
    <p>発売日<%= @item.release_date %></p>
    <p>品番</p>
    <p><%= @item.label.name %></p>

</div>

