<div class="container">
     <div class="row">
    	<div class="col-lg-9">

    		<div class="field">
    		<%= f.label :住所 %>
    		<%= f.text_area :address, %>
  			</div>

  			<div class="field">
    		<%= f.label :お支払い方法 %>
    		<%= f.select(:payment_method, [['選択して下さい', ''],['現金', '現金']]) %>
  <			/div>
		</div>

        <div class="col-lg-3">
           <br>
  			<div class="actions">
    		<%= f.submit '注文を確定する' %>
    		<h1>注文内容</h1>
    		<p>総計：<%= (@cart.total_price).to_i %>円</p>
			</div>
	 </div>
</div>



